        {% include header.html %}
        
        
        
        <article id="content">
            <h1>About Group Two at NCSS 2014</h1>
            <h3>We're the best!<h3>
            <h2>The Creators</h2>
            <h3>Now with ThomOS integration, courtesy of Thomas Curran</h3>
            <p></p>
            <ul>    
                <li>Stephen Merity (Smerity)</li>
                <li>Phoebe Duncombe</li>
                <li>Omja Das</li>
                <li>Andrew Campbell</li>
                <li>Shannon McCabe</li>
                <li>Harry Stranger</li>
                <li>Alexander Slade</li>
                <li>Alex Norris</li>
                <li>Lochlann Andrews</li>
                <li>Callan McNamara</li>
                <li>Maddy Reid</li>
                <li>James Eden</li>
                <li>Tavis Hall</li>
                <li>Alvin Prijatna</li>
                <li>Caitlin Mangan</li>
                <li>Liam Callaway</li>
                <li>Ben Paparoulas</li>
                <li>Katrina Conaghan</li>
                <li>Rhonda Luo</li>
                <li>Katut Luo</li>
                <li>Rachel Lin</li>
                <li>Caiden Morjanoff</li>
                <li>Scott Allen</li>
                <li>Jesh Morrissey</li>
                <li>Will Cannings</li>
                <li>NMVC [Secret Ninja]</li>
            </ul>
        </article>
        
                {% include footer.html %}