<!DOCTYPE HTML>

<html>
<head>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    
<body>	
	<script src="../static/js/canvas.js"></script>	
	<div id='canvasTools'>
		<li>
			Clear the canvas
		<button id="clearCanvas" type="button">Clear</button>
    	</li>
		<li>
			Choose a colour
		<button id="colourPurple" type="button">Purple</button>
		<button id="colourGreen" type="button">Green</button>
		<button id="colourYellow" type="button">Yellow</button>
    	<button id="colourRed" type="button">Red</button>
		<button id="colourOrange" type="button">Orange</button>
		<button id="colourPink" type="button">Pink</button>
		<button id="colourBlue" type="button">Blue</button>
    	</li>
    	<li>
			Choose a size
		<button id="sizeSmall" type="button">Small</button>
		<button id="sizeMedium" type="button">Medium</button>
		<button id="sizeLarge" type="button">Large</button>
    	</li>
    	<li>
			Save your drawing
		<input id="imageTitle" 
		<button id="saveCanvas" type="button">Save</button>
    	</li>
	</div>
	<div id='canvas'>
		
		<canvas width="700" height="400" id="tableauCanvas">
		
		</canvas> 
	</div>

</body> 
</html>

