{% include header.html %}
 
 <article>
    <div>
    <form method="POST" class="signup">
        <fieldset>
            <h1>Change Password</h1>
            <p><label>*Old Password:</label> <input type="password" name="old_password"> </p>
            <p><label>*New Password:</label> <input type="password" name="new_password"> </p>
            <p><label>*Repeat New Password:</label> <input type="password" name="new_password1"></p> 
            <p><span>*Required Fields<span></p>
            <input type="submit" name="Submit">
            <input type="reset" name="Reset">
        <fieldset>
    </form>
    </div>
  </article>
{% include footer.html %} 