        {% include header2.html %}
        
        
        
        <article id="home_hero">
            <!--Pullout, drawing space, chat and other dynamic elements.-->
            <div id="hero"></div>
            <div id="home_text">
                <h2>Welcome to Tableau</h2>
                <p>Tableau is a collaborative workspace. Scene by everyone, for everyone to be seen, with easy-to-use features. Tableau gives you a personalised experience unlike any other.</p>
               </div>
        </article>
        
                {% include footer.html %}