 {% include header.html %}
 
    <div>
    <form method="POST" class="signup" enctype="multipart/form-data">
        <fieldset>
            <h2>Sign Up</h2>
            <p><label>Username:</label> <input type="text" name="username"></p>
            <p><label>Password:</label> <input type="password" name="password"></p>
            <p><label>Repeat Password:</label> <input type="password" name="password2"></p> 
            <p><label>First Name:</label> <input type="text" name="fname"></p>
            <p><label>Last Name:</label> <input type="text" name="lname"></p>
            <p><label>Email:</label> <input type="text" name="email"></p>
            <p>
                <label>Birthday: </label>
                <select name="bday">
                <option value=Null selected="selected">--</option>
                {% for i in range(1, 32) %}
                    <option value="{{ i }}">{{str(i)}}</option>
                {%end for%}
                </select>
                <select name="bmonth">
                <option value=Null selected="selected">--</option>
                    {% for i in range(1, 13) %}
                        <option value="{{ i }}">{{str(i)}}</option>
                    {%end for%}
                </select>
                <select name="byear">
                <option value=Null selected="selected">----</option>
                    {% for i in range(1950, 2015) %}
                        <option value="{{ i }}">{{str(i)}}</option>
                    {%end for%}
                </select>
            </p>
            <p><label>Profile Picture (optional):</label> <input type="file" name="profilepic"></p><br \>
            <input type="submit" name="Submit">
            <input type="reset" name="Reset">
        <fieldset>
    </form>
    </div>
  
{% include footer.html %} 